<div class="jumbotron test-center">
	<h1>Create a Reader</h1>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

      <% if (errors.length > 0) { %>
          <div class="alert alert-danger">
            <% for (error of errors) { %>
              <%= error %><br>
            <% } %>
          </div>
      <% } %>

      <form action="/readers/create" method="POST">
			 <div class="form-group">
        		<label>Name</label>
        		<input type="text" name="name" class="form-control">
    		</div>

   			 <div class="form-group">
        		<label>Age</label>
        		<textarea name="age" rows="1" class="form-control"></textarea>
    		</div>

   			 <div class="form-group">
       			 <button type="submit" class="btn btn-success btn-lg">Create</button>
    		</div>
		  	<div class="form-group">
				  <a href="/" class="btn btn-lg btn-danger">Cancel</a>
		  	</div>

		</form>
	</div>
</div>	







