extends ../../layout.pug

block body
    .container
        .jumbotron.test-center
            h1 Editing #{reader.name}
            .row
                .col-sm-6.col-sm-offset-3
                if typeof errors != 'undefined' && errors.length > 0
                    .alert.alert-danger
                        for(error of errors)
                            #{error}
                form(action="/admin/{reader.description}" method="POST")
                    input(type="hidden" name="_csrf" value= {csrfToken})
                    .form-group
                        label Name
                        input.form-control(type="text" name="name" value= {reader.name})
                    .form-group
                        label Age
                        textarea.form-class(name="age" rows="1") #{reader.age}
                    .form-group
                        button.btn-btn-success(type="submit") Update