extends ../../layout.pug

block admin-content
	.container
		.jumbotron.text-center
			h1 Create a Book
			form(action="/books/create" method="POST")
				input(type="hidden" name="_csrf" value=csrfToken)
				.form-group
					label Name
					input(type="text" name="name").form-control
				.form-group
					label Author
					textarea(name="author" rows="1").form-control
				.form-group
					label About
					textarea(name="about" rows="5").form-control
				.form-group
					button(type="submit").btn.btn-success.btn-lg Create
				.form-group
					a(href="/").btn.btn-lg.btn-danger Cancel