<form name="register" action="/reset" method="POST">
    <input type="hidden" name="_csrf" value=<%= csrfToken %> >
    <div class="container">
        <lable for="newPassword">New Password:</lable>
        <input type="password" name="newPassword" id="newPassword" title="New password">


        <lable for="confirmPassword">Confirm Password:</lable>
        <input type="password" name="confirmPassword" id="confirmPassword" title="Confirm new password">

        <label for="token">Pasword Token:</label>
        <input type="text" id="token" name="token" title="Password Token" >

        <p class="form-actions">
            <input type="submit" value="Change Password" title="Change password" >
        </p>
    </div>
</form>