extends ../../layout.pug

block body
    .container
        form(name="register" action="/reset" method="POST")
            input(type="hidden" name="_csrf" value={csrfToken })
                lable(for="newPassword") New Password:
                    input(type="password" name="newPassword" id="newPassword" title="New password")
                lable(for="confirmPassword") Confirm Password:
                    input(type="password" name="confirmPassword" id="confirmPassword" title="Confirm new password")
                label(for="token") Pasword Token:
                    input(type="text" id="token" name="token" title="Password Token")
                .form-actions
                    input(type="submit" value="Change Password" title="Change password")