extends ../../layout.pug

block navbar
	nav#navbar.navbar-expand-lg.pt-3
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		.collapse.navbar-collapse#navbarSupportedContent
			a#navbar-brand.pl-5(href="#")
				h3 Biserica Emanuel
			.navbar-nav.ml-auto.pull-right
				.nav-item
					a.nav-link(href="/")
						h2 Acasa
						span.sr-only #{current}
				if isAuthenticated
					.nav-item
						a.nav-link(href="/user/logout")
							h2 Logout
				else
					.nav-item
						a.nav-link(href="/user/login")
							h2 Login
				.nav-item
					a.nav-link(href="/user/register")
						h2 Inregistreaza-te
			form.form-inline.my-2.my-lg-0.pr-5
				input.form-control.mr-sm-2(type="text" placeholder="Search" aria-label="Search")
				button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
		hr
block content
	.container
		h2.page-header.text-center Register
		form(name="register" action="/user/register" method="POST")
			input(type="hidden" name="_csrf" value=_csrfToken)
			.form-group
				lable Name
					input.form-control(type="text" name="name" placeholder="Firstname")
			.form-group
				lable Username
					input.form-control(type="text" name="username" placeholder="Lastname")
			.form-group
				lable Email
					input.form-control(type="text" name="email"	placeholder="Email")
			.form-group
				label Password
					input.form-control(type="password" name="password" placeholder="Password")
			.form-group
				label Confirm Password
					input.form-control(type="password" name="password2" placeholder="Password")
			button.btn.btn-default(type="submit" value="") Submit