extends ../../layout.pug

block body
    .container
        h2 Reset Your Password
        form(action="/user/forgot-password" method="POST")
            input(type="hidden" name="_csrf" value={csrfToken})
                h4 We're going to send you an email with the instructions to recover your password
                label New Password
                input(type="text" placeholder="Enter new password" name="password" required)
                label Confirm Password
                input(type="text" placeholder="Confirm password" name="confirm" required)
                button(type="submit") Update password