link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
footer
    .footer#footer
        .container
            .row
                .col.text-center
                    h3 Despre Noi
                    p Biserica Penticostala Emanuel
                    p Localitatea Stei
                    p Jud Bihor
                .col.text-center
                    h3 Program
                    p Marti
                    p Joi
                    p Duminica
                .col.text-center
                    h3 Contact
