footer.footer.pt-5.mb-5
    .site-footer
        .container-fluid
            .site-footer-top.mr-5.ml-5
                .row.mb-5
                    .col-md-4
                        h4 Despre Biserica Noastra
                        hr
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.
                    .col-md-4
                        h4 Lorem Ipsum
                        hr
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.
                    .col-md-4
                        h4 Noutati
                        hr
                        p Subscribe to our newsletter in order to receive the latest new & articles. We promise we won't spam your inbox!
                        .input-group
                            span.input-group-addon @
                            input(type="text").form-control
                            span.input-group-btn
                                button.btn.btn-primary(type="button") Go!
                .card.container.mt-5
                    .card-body.pr-5
                        .row
                            .col-md-3.col-sm-6
                                h4
                                    i.fa.fa-clock-o Serviciu Divin
                                p  Joi 18:00 - 20:00
                                p   Duminica 9:00 - 12:00   &    18:00 - 20:00
                            .col-md-3.col-sm-6
                                h4
                                    i.fa.fa-map-marker Locatia Noastra
                                p   Aleea Baitei nr.2
                                p   Loc. Stei Jud.Bihor
                                p   Romania
                            .col-md-3.col-sm-6
                                h4
                                    i.fa.fa-envelope Contact
                                p adrees@gmail.com
                            .col-md-3.col-sm-6
                                h4
                                    i.fa.fa-clock-o Socializam prin
                .site-footer-bottom
                    .row.mt-5
                        .col-md-6.col-sm-6.copyrights-coll 2017 Biserica Emanuel. All Rights Rezerved
