footer
    .footer#footer
        .container
            .row
                .col.text-center
                    h3 Despre Noi
                    p Biserica Penticostala Emanuel
                    p Localitatea Stei
                    p Jud Bihor
                .col.text-center
                    h3 Program
                    p Marti
                    p Joi
                    p Duminica
                .col.text-center
                    h3 Contact
