<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Biblioteca</title>

<!--css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

<!-- header -->
  <header id="site-header">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Biblioteca Bisericii Emanuel
            </a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/books">Books</a></li>
          <li><a href="/books/create">Create a Book</a></li>
          <li><a href="/readers">Readers</a></li>
          <li><a href="/readers/creat">Create a Readers</a></li>
          <li>
            <form action="/search">          
              <input name="term" type="text" id="search" value="<%= typeof searchTerm!='undefined' ? searchTerm : '' %>">
              <button onclick="">Search</button>
            </form>
          </li>
          <li>
            <a href="/user/register">Register</a>
          </li>
          <li>
            <a href="user/login">LogIn</a>
          </li>

        </ul>

      </div>
    </div>


  </header>




<!--main -->
<main id="site-main">
  <div class="container">
    <%- body -%> 
  </div>
</main>

<!-- footer -->
<footer id="site-footer">
  Copyright &copy; 2017 Sandra Marta
</footer>


</head>
<body>
</body>
</html>