nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse(id="navbarTogglerDemo01")
        a.navbar-brand(href="#") Hidden brand
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Acasa
                    span.sr-only #{current}
            li.nav-item
                a.nav-link(href="/books") Carti
            li.nav-item
                a.nav-link(href="/readers") Cititori
            li.nav-item
                a.nav-link(href="/user/login") Login
            li.nav-item
                a.nav-link(href="/user/register") Inregistreaza-te
        form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type="text" placeholder="Search" aria-label="Search")
            button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

