
nav#navbar.fixed-top.navbar-expand-lg.pt-3
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
        a#navbar-brand.pl-5(href="#")
            h3 Biserica Emanuel
        .navbar-nav.ml-auto.mr-5
            .nav-item
                a.nav-link(href="/")
                    h2 Acasa
                    span.sr-only #{current}
            .nav-item
                a.nav-link(href="/sermons")
                    h2 Predici
            if isAuthenticated
                .nav-item
                    //a.nav-link(href="/user/logout")
                    //    h2 Logout
                    .dropdown
                        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Bună, #{user.local.firstName}
                        .dropdown-menu(aria-labelledby="dropdownMenuButton")
                            if isAdmin
                                a.dropdown-item(href="/admin") Admin
                            a.dropdown-item(href="/user/logout") Logout
            else
                .nav-item
                    a.nav-link(href="/user/login")
                        h2 Login
                .nav-item
                    a.nav-link(href="/user/register")
                        h2 Inregistreaza-te
    //    form.form-inline.my-2.my-lg-0.pr-5
    //        input.form-control.mr-sm-2(type="text" placeholder="Search" aria-label="Search")
    //        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
    //hr
