body {
	font-size: 16px;
	line-height: 1.5;
}

/*header*/
.navbar {
	border-radius: 0;
	border: none;
	margin: 0;
    background: #c0c2be;
}


#search {
	width: 300px;
	padding: 7px;
	border: 1px solid #333;

}

#submit {
	padding: 7px;
	background: grey;
}
/*main section*/

#site-main {

    padding-bottom: 50px;
    padding-top: 50px;



}

/* footer */

.site-footer {
    /*position: fixed;*/
    /*ottom: 50%;*/
	text-align: center;
	/*padding-bottom: 500px;*/
	
	font-size: 12px;
	color: #999;
    border-radius: 0;
    border: none;
    margin: 0;
    /*position: absolute*/;
    /*bottom: 0px*/;
    width: 100%;
    /*color: #999*/;

}


/** Taken from https://codepen.io/gcharles/pen/oxpwyL */
footer{
    color: white;
}
footer a{
    color: #bfffff;
}
footer a:hover{
    color: white;
}

.footer-bottom{
    background: #393b37;
    padding: 2em;
}
.footer-top{
    background: #30322e;
}
.footer-middle{
    background: #525450;
    padding-top: 2em;
    color: white;
}
/**Sub Navigation**/
.subnavigation-container{
    background: #3d6277;
}
.subnavigation .nav-link{
    color: #ff3302;
    font-weight: bold;
}
.subnavigation-container{
    text-align: center;
}
.subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}



.btn {
    padding: 8px 15px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #999b98;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #858784;
}

.btn-primary:active, .btn-primary.active {
    background: rgba(50, 52, 49, 0.82);
    box-shadow: none;
}
.btn-group-vertical {
    background: #999b98;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    width: 600px;
    cursor: pointer;
    display: inline-block
}
.button4{
    : content: '';;
    color: white;
}

/* The side navigation menu */
/*
.sidenav {
    height: 100%; !* 100% Full-height *!
    width: 0; !* 0 width - change this with JavaScript *!
    position: fixed; !* Stay in place *!
    z-index: 1; !* Stay on top *!
    top: 0;
    left: 0;
    background-color: #111; !* Black*!
    overflow-x: hidden; !* Disable horizontal scroll *!
    padding-top: 60px; !* Place content 60px from the top *!
    transition: 0.5s; !* 0.5 second transition effect to slide in the sidenav *!
}
*/

/* The navigation menu links */
/*.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}*/

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

!* Position and style the close button (top right corner) *!
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#wrapper {
    padding-left: 0;
    /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100% !important;
    margin-left: -250px;
    overflow-y: auto;
    background:rgba(50, 52, 49, 0.82);


}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

/*.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}*/

/*.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}*/

/*.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}*/

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }


    #sidebar-wrapper {
        width: 250px;
    }

   /* #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }*/




}


