body {
	font-size: 16px;
	line-height: 1.5;
}

/*header*/
#site-header.navbar {
	border-radius: 0;
	border: none;
	margin: 0;
}


#search {
	width: 300px;
	padding: 7px;
	border: 1px solid #333;

}

#submit {
	padding: 7px;
	background: grey;
}
/*main section*/

#site-main {
    padding-bottom: 50px;
    padding-top: 50px;



}

/* footer */

#site-footer {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
	font-size: 12px;
	background: #222;
	color: #999;

}


/** Taken from https://codepen.io/gcharles/pen/oxpwyL */
footer{
    color: white;
}
footer a{
    color: #bfffff;
}
footer a:hover{
    color: white;
}

.footer-bottom{
    background: #3d6277;
    padding: 2em;
}
.footer-top{
    background: #2d4958;
}
.footer-middle{
    background: #3d6277;
    padding-top: 2em;
    color: white;
}
/**Sub Navigation**/
.subnavigation-container{
    background: #3d6277;
}
.subnavigation .nav-link{
    color: white;
    font-weight: bold;
}
.subnavigation-container{
    text-align: center;
}
.subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
}
.col-subnav .active{
    border-top:5px solid orange;
    background: white;
    co




