extends ../../layout.pug

block body
    .container-fluid
        .card.admin
            .card-body.border.border-black.rounded
                h1.text-center Predicatori
                table.table.table-striped
                    thead
                        tr
                            th Numele
                            th Prenume
                            th Nr de predici
                            if typeof preachers != 'undefined' && preachers.length > 0
                                each preacher, index in preachers
                                    tr
                                        td #{preacher.lastName}
                                        td #{preacher.firstName}
                                        td #{preacher.sermons}