extends ../layout.pug

block body
    main
        input(type='hidden', name='_csrf', value= {csrfToken})
        #startchange
            section.section1
                .row
                    .col-md-4
                        h3.text-center Comunitatea noastra
                        .card.mt-4.mb-5
                            a(href="#")
                                img.img-opacity.card-img-top(src="../../images/unitate.jpg" alt="Card image cap")
                        h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.
                    .col-md-4
                        h3.text-center Misiunea bisericii
                        .card.mt-4.mb-5
                            a(href="#")
                                img.img-opacity.card-img-top(src="../../images/biblia.jpg" alt="Card image cap")
                        h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.
                    .col-md-4
                        h3.text-center Lorem ipsum
                        .card.mt-4.mb-5
                            a(href="#")
                                img.img-opacity.card-img-top(src="../../images/lumina.jpg" alt="Card image cap")
                        h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.
            section.section2
                .row
                    .col-md-4.col-sm-12
                        br
                        h2.text-center Biserica Penticostala Emanuel
                        hr.my-4
                        p.lead Lorem ipsum dolor sit amet, est te animal comprehensam, quot prompta mandamus nec te, laudem alterum ad vix. Eros primis vis in. Vidisse constituam eum ei, nulla error mei ad, sale nostrum usu ut. Mel ei illud nostrum tacimates.
                        hr.my-4
                        p.lead Ex vocibus interesset nam, atqui solet expetendis cum in, accumsan albucius usu ei. No pro quot dolorum, ex vim diam persequeris, ferri complectitur eam cu.
                        a.btn.btn-primary.btn-lg(href="#" role="button") Citeste mai mult
                        hr.my-4
                    .col-md-8.col-sm-7
                        h3 Lorem Ipsum
                        ul.list-group
                            li.list-group-item Cras justo odio
                            li.list-group-item Dapibus ac facilisis in
                            li.list-group-item Cras justo odio
                            li.list-group-item Dapibus ac facilisis in
