extends ../layout.pug

block body
    body
        .container
            .row
                .col-md-6
                    .well.well-sm
                        form.form-horizontal(action="/contact" method="post")
                            input(type="hidden" name="_csrf" value=#{csrfToken})
                                fieldset
                                    legend.text-center Contactati-ne!
                                    if typeof flash != 'undefined'
                                    .alert.alert-danger
                                        #{flash}
                                    .form-group
                                        label.col-md-3.control-label Name
                                            if typeof formErrors !== 'undefined' && formErrors.length
                                                for(error of formErrors)
                                                if error.param == 'name'
                                                    .alert.alert-danger
                                                        #{error.msg}
                                        .col-md-9
                                            input(id="name" name="name" type="text" placeholder="Your name").form-control
                                    .form-group
                                        label.col-md-3.control-label Your E-mail
                                        .col-md-9
                                            input(id="email" name="email" type="text" placeholder="Your email").form-control
                                    .form-group
                                        label.col-md-3.control-label Your message
                                        .col-md-9
                                            textarea.form-control(id="message" name="message" placeholder="Please enter your message here..." rows="5")
                                    .form-group
                                        .g-recaptcha(data-sitekey="6LeEoyQUAAAAAJgb3f1nYo7Svnpb0ZSVQWKGUr8P")
                                        .col-md-12.text-right
                                            button.btn.btn-lg.btn-primary(type="submit") Submit