<div class ="jumbotron text-center">
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Biserica Penticostala Emanuel</h3><br><br>
    <input type="hidden" name="_csrf" value=<%= csrfToken %> >
  </div>


