



 <div class ="jumbotron text-center"> 
 <div class="container-fluid bg-1 text-center">
  <h3 class="margin">Biserica Penticostala Emanuel</h3><br><br>
  <img src="http://4.bp.blogspot.com/-7hRNXU0ahG0/UfavOd2VooI/AAAAAAAAA_I/Q_9bk_Vq2-s/s1600/porumbelul+pacii.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
 
</div>

	<br><br><br><br>


<a href="/books" class="btn btn-lg btn-danger">Books</a> 
<a href="/readers" class="btn btn-lg btn-danger">Readers</a> 

 </div> 


