

<h2 class="page-header">LogIn</h2>

	<form name="login" action="/user/login" method="POST">
		<div class="form-group">
			<lable>Username</lable>
				<input type="text" name="email"	id="email" class="form-control" placeholder="Username">
		</div>
		<div class="form">
			<label>Password</label>
				<input type="test" name="password" id="password" class="form-control" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default" value="">Submit</button>
	</form>

