
input(type="hidden" name="_csrf" value={csrfToken})
    #marti Ora de rugaciune
    #joi
        h1 Ora de rugaciune
        h1 Studiu Biblic
    #sambata
        h1 Ora de rugaciune
    #duminica1
        h1 Ora de rugaciune
        h1 Slujba de evanghelizare
    #duminica2
        h1 Slujba de evanghelizare

