<h2>Reset Your Password</h2>

<form action="/user/forgot-password" method="POST">
    <div class="container">
        <h4>We're going to send you an email with the instructions to recover your password</h4>

        <label><b>New Password</b></label>
        <input type="text" placeholder="Enter new password" name="password" required>

        <label><b>Confirm Password</b></label>
        <input type="text" placeholder="Confirm password" name="confirm" required>

        <button type="submit">Update password</button>
    </div>
</form>