<% if (success.length > 0) { %>
	<div class="alert alert-success"><%= success %></div>
<% } %>	


<div class="jumbotron text-center"> 
	<h1> <%= reader.name %></h1>
	<p> <%= reader.age %></p>
	 
 </div> 


 <div class="row">
	<div class="col-sm-6 col-sm-offset-3">

     <form action="/readers" method="POST">
			 <div class="form-group">
        		<label>Name</label>
        		<input type="text" name="name" class="form-control">
    		</div>

   			 <div class="form-group">
        		<label>Age</label>
        		<textarea name="age" rows="1" class="form-control"></textarea>
    		</div>

   			 <div class="form-group">
       			 <button type="submit" class="btn btn-success btn-lg">Create</button>
    		</div>

		</form>
	</div>
</div>	







