extends ../../admin-layout.pug

block content
    .container-fluid
        .row
            .col-sm-3.col-md-2
                .nav.flex-column
                    li.nav-item
                        a.nav-link.active(href="/admin") Home
                    li.nav-item
                        a.nav-link.active(href="/books") Carti
                    li.nav-item
                        a.nav-link.active(href="/readers") Cititori
                    li.nav-item
                        a.nav-link.active(href="/users") Utilizatori
            main.col-sm-9.ml-sm-auto.col-md-10.pt-3(role="main")
                h1 Administrator
                section.row.text-center.placeholder
                    .col-6.col-sm-3.placeholder
                        img(src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail")
                        h4 Lable
                        .text-muted Something else
                    .col-6.col-sm-3.placeholder
                        img(src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail")
                        h4 Lable
                        .text-muted Something else
                    .col-6.col-sm-3.placeholder
                        img(src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail")
                        h4 Lable
                        .text-muted Something else
                    .col-6.col-sm-3.placeholder
                        img(src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail")
                        h4 Lable
                        .text-muted Something else
            block admin-content