
<input type="hidden" name="_csrf" value=<%= csrfToken %>>
<form  action="/admin/" method="post">
    <div class=" btn-group-vertical">
        <a class="button4" href="/admin/create/user" >
                <p class="p">Create a user</p>
            </a>

            <a class="button4" href="/admin/create/book" >
               <p class="p" >Create a book</p>
            </a>
            <a  class="button4" href="/admin/users" >
               <p class="p">Cititori</p>
            </a>

    </div>

</form>


