extends admin.pug

block admin-content
    .container-fluid
        .card.admin
            .card-body.border.border-black.rounded
                h1 Create a Book
                    form(action="/books/create" method="POST")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        .form-group
                            label Name
                            input.form-control(type="text" name="name")
                        .form-group
                            label Author
                            textarea.form-control(name="author" rows="1")
                        .form-group
                            label About
                            textarea.form-control(name="about" rows="5")
                        .form-group
                            button.btn.btn-success(type="submit") Create
                        .form-group
                            a(href="/admin").btn.btn-lg.btn-danger Cancel