extends admin.pug

block admin-content
    .container-fluid
        .card.admin
            .card-body.border.border-black.rounded
                h2 Predica
                //if errors.length > 0
                //    .alert.alert-danger
                //       each error, index in errors
                //            #{error}
                form(action="/admin/sermon/create" method="POST")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    .form-group
                        label Titlu
                        input(type="text" name="title").form-control
                    .form-group
                        label(for="selectPreacher") Predicator
                        select#selectPreacher.form-control
                            each preacher,index in preachers
                                option
                                    `${preacher.firstName}`
                    .form-group
                        label Timp
                        input(type="number" name="duration").form-control
                    .form-group
                        label Data
                        input(type="number" name="date").form-control
                    .form-group
                        button(type="submit").btn.btn-success.btn-lg Create
                    .form-group
                        a(href="/admin").btn.btn-lg.btn-danger Cancel