extends admin.pug

block admin-content
    .container-fluid
        .card.admin
            .card-body.border.border-black.rounded
                h1.text-center Predicatori
                table.table.table-striped
                    thead
                        tr
                            th Numele
                            th Prenume
                            th Nr de predici
                            th
                                a.btn.btn-lg.btn-primary.pull-right(href="/admin/preacher/create") Adauga un predicator
                            if typeof preachers != 'undefined' && preachers.length > 0
                                each preacher, index in preachers
                                    tr
                                        td #{preacher.lastName}
                                        td #{preacher.firstName}
                                        td #{preacher.sermons}
                                        td
                                            a.link(href="/admin/preacher") Vezi toate predicile
